<!-- index.html -->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Metro Route Planner</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h1>Metro Route Planner</h1>
    <form id="metroForm" action="/process" method="POST">
        <label for="source">Enter Source Station:</label>
        <select id="source" name="source" required style="cursor: pointer;">
            <option value="" disabled selected>Select source</option>
            <th:block th:each="station : ${stations}">
                <option th:value="${station}" th:text="${station}"
                        th:selected="${station == source}"></option>
            </th:block>
        </select>

        <label for="dest">Enter Destination Station:</label>
        <select id="dest" name="dest" style="cursor: pointer;" required>
            <option value="" disabled selected>Select destination</option>
            <th:block th:each="station : ${stations}">
                <option th:value="${station}" th:text="${station}"
                        th:selected="${station == dest}"></option>
            </th:block>
        </select>

        <input type="submit" value="Go">
    </form>
    <div th:if="${path}">
        <p th:text="${distance}"></p>
        <p th:text="${time}"></p>
    </div>

    <div id="mapContainer" style="display: none;">
        <img id="metroMap" src="/metro_map_new.jpg" alt="Metro Map" width="712">
    </div>
    <p id="route"></p>
    <div id="mapcon" style="display: block;">
        <img id="metro-map" src="/metro_map_new.jpg" alt="Metro Map" width="712">
        <div class="dot" id="St Thomas Mount~G" style="top: 854px; left: 324px; display: none"></div>
        <div class="dot" id="Alandur~BG" style="top: 796px; left: 265px;display: none"></div>
        <div class="dot" id="Ekkattuthangal~G" style="top: 715px; left: 196px;display: none"></div>
        <div class="dot" id="Ashok Nagar~G" style="top: 669px; left: 173px;display: none"></div>
        <div class="dot" id="Vadapalani~G" style="top: 611px; left:150px;display: none"></div>
        <div class="dot" id="CMBT~G" style="top: 506px; left: 139px;display: none"></div>
        <div class="dot" id="Koyambedu~G" style="top: 414px; left: 115px;display: none"></div>
        <div class="dot" id="Thirumangalam~G" style="top: 344px; left: 92px;display: none"></div>
        <div class="dot" id="Anna Nagar Tower~G" style="top: 251px; left: 104px;display: none"></div>
        <div class="dot" id="Anna Nagar East~G" style="top: 251px; left: 197px;display: none"></div>
        <div class="dot" id="Shenoy Nagar~G" style="top: 180px; left: 218px;display: none"></div>
        <div class="dot" id="Kilpauk~G" style="top: 215px; left: 264px;display: none"></div>
        <div class="dot" id="Egmore~G" style="top: 262px; left: 323px;display: none"></div>
        <div class="dot" id="Chennai Central~BGR" style="top: 262px; left: 392px;display: none"></div>

        <div class="dot" id="Airport~B" style="top: 900px; left: 207px;display: none"></div>
        <div class="dot" id="Meenambakkam~B" style="top: 843px; left: 208px;display: none"></div>
        <div class="dot" id="Guindy~B" style="top: 750px; left: 324px;display: none"></div>
        <div class="dot" id="Little Mount~B" style="top: 692px; left: 347px;display: none"></div>
        <div class="dot" id="Saidapet~B" style="top: 634px; left: 347px;display: none"></div>
        <div class="dot" id="Teynampet~B" style="top: 564px; left: 358px;display: none"></div>
        <div class="dot" id="AG DMS~B" style="top: 483px; left: 358px;display: none"></div>
        <div class="dot" id="Thousand Lights~B" style="top: 413px; left: 382px;display: none"></div>
        <div class="dot" id="LIC~B" style="top: 333px; left: 393px;display: none"></div>
        <div class="dot" id="High Court~B" style="top: 193px; left: 428px;display: none"></div>
        <div class="dot" id="Mannadi~B" style="top: 124px; left: 452px;display: none"></div>
        <div class="dot" id="Washermanpet~B" style="top: 19px; left: 405px;display: none"></div>
        <div class="dot" id="Medavakkam~O" style="top: 946px; left: 347px;display: none"></div>
        <div class="dot" id="Perumbakkam~O" style="top: 923px; left: 462px;display: none"></div>
        <div class="dot" id="Shollinganallur~O" style="top: 900px; left: 578px;display: none"></div>
        <div class="dot" id="Perungudi~O" style="top: 820px; left: 567px;display: none"></div>
        <div class="dot" id="Thoraipakkam~O" style="top: 714px; left: 555px;display: none"></div>
        <div class="dot" id="Velachery~R" style="top: 796px; left: 405px;display: none"></div>
        <div class="dot" id="Taramani~R" style="top: 739px; left: 475px;display: none"></div>
        <div class="dot" id="Thiruvanmyur~RO" style="top: 657px; left: 486px;display: none"></div>
        <div class="dot" id="Adyar~R" style="top: 587px; left: 520px;display: none"></div>
        <div class="dot" id="Light House~R" style="top: 495px; left: 544px;display: none"></div>
        <div class="dot" id="Chepauk~R" style="top: 413px; left: 509px;display: none"></div>
        <div class="dot" id="Park Town~R" style="top: 332px; left: 474px;display: none"></div>
    </div>
</div>
<script src="/blink.js"></script>
<script src="/display_path.js"></script>
<script th:inline="javascript">
    let route = [[${path}]];
    if (route.length > 1 && route[0] !== "No path found") {
        document.getElementById("route").innerHTML = display_path(route);
        route.forEach(id => {
            const el = document.getElementById(id);
            if (el) {
                el.style.display = "block";
                startBlinking(id);
            }
        });
    }
</script>
</body>
</html>
